*.pyc
.DS_Store
/urls.py
/settings.py
/searchindex/*
/templates/currency/IDR*
/templates/currency/idr*
/media/avatars/*
/media/partners/*
/media/photologue/*
/media/uploads/*
/media/abstract/*.jpg
/media/abstract/*.jpeg
/media/abstract/*.png
/media/abstract/*.gif
/media/print.pdf

/vietnam/templates/currency/IDR*
/vietnam/templates/currency/idr*
/vietnam/media/avatars/*
/vietnam/media/partners/*
/vietnam/media/photologue/*
/vietnam/media/uploads/*
/vietnam/media/abstract/*.jpg
/vietnam/media/abstract/*.jpeg
/vietnam/media/abstract/*.png
/vietnam/media/abstract/*.gif
/vietnam/media/print.pdf

/balieng/templates/currency/IDR*
/balieng/templates/currency/idr*
/balieng/media/avatars/*
/balieng/media/partners/*
/balieng/media/photologue/*
/balieng/media/uploads/*
/balieng/media/abstract/*.jpg
/balieng/media/abstract/*.jpeg
/balieng/media/abstract/*.png
/balieng/media/abstract/*.gif
/balieng/media/print.pdf