{% extends "base.html" %}

{% block title %}{{ block.super }} | О нас{% endblock %}

{% block content_class %}about-us white serf-img two-column{% endblock %}

{% block menu %}
    <ul class="links">
        <li{% if not path_bits.1 %} class="active"{% endif %}><a href="/about/">Почему мы?</a></li>
        <li{% if path_bits.1 == 'team' %} class="active"{% endif %}><a href="/about/team/">Команда</a></li>
        <li{% if path_bits.1 == 'contacts' %} class="active"{% endif %}><a href="/about/contacts/">Контакты</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="text_content">
    {% if flatpage %}
        {{ flatpage.content|safe }}
    {% else %}
        <h2>Почему стоит учиться у нас?</h2>
        <p class="small">Путешествуя по миру и занимаясь разными видами спорта мы нашли тот, который покорил нас навсегда — это серфинг.</p>
        <p>Да просто потому, что серфинг, пожалуй, единственный вид спорта, который доставляет столько непередаваемого наслаждения от общения со стихией, когда наедине остаетесь только Вы и она, природа, во всей ее первозданной красоте. Благодаря занятию серфингом, вы начинаете не просто заниматься еще одним, новым для вас видом спорта, вы начинаете жить им. Ваши мысли и ваше восприятие мира изменятся и станут богаче. Попробуйте, и вы поймете, что мы имеем в виду.</p>
        <img src="/media/img/bali_small.jpg" alt="Серфинг на Бали" class="left-img" />
        <p>Мы готовы развеять любые убеждения о том, что серфинг — только для спортсменов или людей, с детства посвятивших себя ему. Серфинг любому под силу. Серфинг — это не только спортивный образ жизни, это океан удовольствия и всегда хорошее настроение. А мы готовы помочь вам приобщиться к нему. Мы разработали прогрессивную программу обучения, учитывающую индивидуальные особенности каждого и позволяющую очень быстро приобрести необходимые навыки для самостоятельного катания по волнам. Работая в различных серфшколах мы пришли к пониманию того, какой должна быть идеальная серфшкола.</p>
        <p>И мы решили создать ее. Это не просто еще одна школа серфинга. Это место, где встречаются близкие по духу люди и радуются общению друг с другом и с океаном. Мы ждем вас и работаем для того, чтобы вы, попробовав серфинг впервые, уже больше никогда не смогли разлюбить его. А для тех, кто уже уверенно чувствует себя на доске, мы готовы показать множество знаменитых, а также нетуристических мест для серфинга на Бали.</p>
    {% endif %}
    </div>
{% endblock %}
