{% extends "base.html" %}

{% block content %}
<!--http://tympanus.net/Development/AnimatedResponsiveImageGrid/index2.html-->
<div class="fon">
</div>
<div style="clear: both"></div>

  <div class="why">
  <div class="icons_h1_index" style="text-align: center;">
    <div class="text_h1_index">WINDY SUN МЕЖДУНАРОДНАЯ ШКОЛА СЕРФИНГА НА БАЛИ</div>
  </div>
  </div>
<div style="clear: both"></div>
<div>
<div class="row_3">
	<a href="/about/team/">
	<div class="column_people"><img src="{{ MEDIA_URL }}img/logo_asi.png" alt=""><p style="font-size: 18px; text-transform: uppercase;">международная аккредитация</p><p style="color:#707070; font-size: 14px;">ASI (Австралийская Академия Серф Инструкторов). Мировой лидер в обучении серфингу</p></div>
	</a>
	<a href="/about/team/">
	<div class="column_people"><img src="{{ MEDIA_URL }}img/people_2.png" alt=""><p style="font-size: 18px; text-transform: uppercase;">сертифицированные инструкторы</p><p style="color:#707070; font-size: 14px;">У нас работают сертифицированные инструкторы, которые говорят на нескольких языках и прошли курсы оказания первой помощи.</p></div>
	</a>
	<a href="/about/team/">
	<div class="column_people"><img src="{{ MEDIA_URL }}img/people_3.png" alt=""><p style="font-size: 18px; text-transform: uppercase;">Surf Land <br>Training</p><p style="color:#707070; font-size: 14px;">Принципиально новая методика обучения на баланс борде</p></div>
	</a>
</div>
</div>
<div style="clear: both"></div>

  <div class="why">
  <div class="icons_h1_index_1">
    <div class="icons"><img src="{{ MEDIA_URL }}img/price_index.png" alt="" /></div>
    <div class="text_h1_index">Наши цены</div>
  </div>
  </div>
  <div style="clear: both"></div>

<div class="back">

  <div id="one" class="abs block">
    <b><a class="tabs_index_2" href="#one">ПРОГРАММЫ</a></b>
    <a class="tabs_index_2" href="#two">ИНДИВИДУАЛЬНЫЙ УРОК</a>
    <a class="tabs_index_2" href="#three">ДЕТСКИЕ УРОКИ</a>
    <a class="tabs_index_2" href="#tfour">СКИДКИ</a>
    <a class="tabs_index_2" href="#tfive">ФОТО И ВИДЕО</a>
    <a class="tabs_index_2" href="#tsix">SURF LAND TRAINING</a>
    <p class="abs tabs_index_1">
<div class="dask">
	<a href="/prices/"><div class="dask_column">
		<div style="height: 30px;padding-top: 200px;font-size: 71px;margin-left: 20px; color: white;">1</div>
		<div style="height: 70px;padding-top: 80px;font-size: 23px;color: white;margin-left: 20px;">урок
серфинга</div>
		<div style="height: 80px;padding-top: 15px;font-size: 50px;color: white;margin-left: 20px;">50$</div>
	</div></a>
	<a href="/prices/"><div class="dask_column">
		<div style="height: 115px;padding-top: 60px;font-size: 71px;margin-left: 20px; color: white;">4</div>
		<div style="height: 65px;padding-top: 0px;font-size: 23px;color: white;margin-left: 20px;">урока
серфинга</div>
		<div style="height: 180px;padding-top: 30px;font-size: 50px;color: white;margin-left: 20px;">180$</div>
	</div></a>
	<a href="/prices/"><div class="dask_column">
		<div style="height:80px;padding-top: 100px;font-size: 71px;margin-left: 20px; color: white;">7</div>
		<div style="height: 85px;padding-top: 30px;font-size: 23px;color: white;margin-left: 20px;">уроков
серфинга*</div>
		<div style="height: 80px;padding-top: 25px;font-size: 50px;color: white;margin-left: 20px;">280$</div>
	</div></a>
	<a href="/prices/"><div class="dask_column">
		<div style="height: 80px;padding: 130px 0 30px 0;font-size: 71px;margin-left: 10px; color: white;">10</div>
		<div style="height: 95px;padding-top: 0px;font-size: 23px;color: white;margin-left: 20px;">уроков
серфинга*</div>
		<div style="height: 180px;padding-top: 30px;font-size: 50px;color: white;margin-left: 20px;">380$</div>
	</div></a>
	<a href="/prices/"><div class="dask_column_1">
		<div style="height: 40px;padding: 130px 0 30px 0;font-size: 26px;margin-left: 10px; color: white;">Аренда</div>
		<div style="height: 100px;padding-top: 0px;font-size: 22px;color: white;margin-left: 10px;">серф<br>
борда <br>(1 день)</div>
		<div style="height: 180px;padding-top: 50px;font-size: 50px;color: white;margin-left: 10px;">10$</div>
	</div></a>
	<p style="float:right;padding-top: 40px;"><a href="price.html">*включая серф трипы</a></p>
</div>
    </p>
  </div>

<div id="two" class="abs block">
    <a class="tabs_index_2" href="#one">ПРОГРАММЫ</a>
    <b><a class="tabs_index_2" href="#two">ИНДИВИДУАЛЬНЫЙ УРОК</a></b>
    <a class="tabs_index_2" href="#three">ДЕТСКИЕ УРОКИ</a>
    <a class="tabs_index_2" href="#tfour">СКИДКИ</a>
    <a class="tabs_index_2" href="#tfive">ФОТО И ВИДЕО</a>
    <a class="tabs_index_2" href="#tsix">SURF LAND TRAINING</a>
    <p class="abs tabs_index_1">
<div>
	<div style="float: left;"><img src="{{ MEDIA_URL }}img/price_3.png" alt=""></div>
	<div style="width: 600px; float: right;padding-top: 80px;padding-right: 150px;text-align: justify;">
<p>Для тех, кто желает обучаться серфингу тет-а-тет, мы предоставляем индивидуальные уроки серфинга с русскими инструкторами.</p>
<br>
<p>2,5 часа и 100% внимание инструктора будут полностью посвящены только вашему обучению, что способствует быстрому прогрессу в серфинге и хорошими результатами. Также, если сроки пребывания на Бали для вас ограничены, то это хорошая возможность освоить базовые уроки в 2-3 раза быстрее и скорее перейти на настоящие волны.</p>
<p>Обучаться с одним русским инструктором могут максимально два человека (пара взрослых или родитель+ребенок), для второго ученика скидка 20%. На индивидуальные уроки не распространяются иные скидки.</p>
<br>
<p>Постоянный контроль и внимание к ученику, к его успехам или проблемам, на что стоит обратить внимание, делают свое дело. Ученик стремительно учится навыкам серфинга и за короткий срок готов к серф трипам.</p>
</div>
</div>
    </p>
  </div>

<div id="three" class="abs block">
    <a class="tabs_index_2" href="#one">ПРОГРАММЫ</a>
    <a class="tabs_index_2" href="#two">ИНДИВИДУАЛЬНЫЙ УРОК</a>
    <b><a class="tabs_index_2" href="#three">ДЕТСКИЕ УРОКИ</a></b>
    <a class="tabs_index_2" href="#tfour">СКИДКИ</a>
    <a class="tabs_index_2" href="#tfive">ФОТО И ВИДЕО</a>
    <a class="tabs_index_2" href="#tsix">SURF LAND TRAINING</a>
    <p class="abs tabs_index_1">
<div>
	<div style="float: left;"><img src="{{ MEDIA_URL }}img/price_2.png" alt=""></div>
	<div style="float: right;padding-top: 40px;">
<p>Детям, обучающимся в нашей серф школе, мы предоставляем:</p>
<p><strong>+ персонального инструктора для каждого;</strong></p>
<p><strong>+ скидку 30% при продолжительности урока 1,5 часа;</strong></p>
<p><strong>+ детскую одежду для серфинга с UV-защитой;</strong></p>
<p><strong>+ солнцезащитный крем;</strong></p>
<br>
<p>А также:</p>
<p><strong>+ трансфер на урок и обратно;</strong></p>
<p><strong>+ душ, полотенца и питьевую воду;</strong></p>
<p><strong>+ видео обучение на серф трипах;</strong></p>
<p><strong>+ сертификат серфера;</strong></p>
<br>
<p>Мы обучаем серфингу детей от 5 до 11 лет. Ребята от 12 лет занимаются по взрослой программе.</p>
</div>
</div>
    </p>
  </div>
<div id="tfour" class="abs block">
    <a class="tabs_index_2" href="#one">ПРОГРАММЫ</a>
    <a class="tabs_index_2" href="#two">ИНДИВИДУАЛЬНЫЙ УРОК</a>
    <a class="tabs_index_2" href="#three">ДЕТСКИЕ УРОКИ</a>
    <b><a class="tabs_index_2" href="#tfour">СКИДКИ</a></b>
    <a class="tabs_index_2" href="#tfive">ФОТО И ВИДЕО</a>
    <a class="tabs_index_2" href="#tsix">SURF LAND TRAINING</a>
    <p class="abs tabs_index_1">
<div>
	<div style="float: left;"><img src="{{ MEDIA_URL }}img/price_4.png" alt=""></div>
	<div style="width: 600px; float: right;padding-top: 80px;padding-right: 150px;text-align: justify;">
<p>ДЕТЯМ - Скидка 30% на сокращенный урок, продолжительностью 1,5 часа. Отдельный инструктор каждому ребенку.</p>
 <br>
<p>НА ИНДИВИДУАЛЬНЫЕ УРОКИ - Скидка 20% второму обучающемуся с индивидуальным инструктором. На индивидуальные уроки не распространяются иные скидки.</p>
 <br>
<p>ВОЗВРАЩАЮЩИМСЯ - Скидка 10% занимающимся в нашей школе повторно.</p>
 <br>
<p>СЕМЬЕ - Скидка 5% (минимум 3 человека).</p>
</div>
</div>
    </p>
  </div>
<div id="tfive" class="abs block">
    <a class="tabs_index_2" href="#one">ПРОГРАММЫ</a>
    <a class="tabs_index_2" href="#two">ИНДИВИДУАЛЬНЫЙ УРОК</a>
    <a class="tabs_index_2" href="#three">ДЕТСКИЕ УРОКИ</a>
    <a class="tabs_index_2" href="#tfour">СКИДКИ</a>
    <b><a class="tabs_index_2" href="#tfive">ФОТО И ВИДЕО</a></b>
    <a class="tabs_index_2" href="#tsix">SURF LAND TRAINING</a>
    <p class="abs tabs_index_1">
<div>
	<div style="float: left;"><img src="{{ MEDIA_URL }}img/price_5.png" alt=""></div>
	<div style="width: 400px; float: right;padding-top: 60px;padding-right: 150px;text-align: justify;">
<p>В нашей серф школе есть уникальная опция - Видео обучение. В серф путешествие с вами выезжает оператор и снимает на видеокамеру всю каталку. После трипа в школе тренер проводит разбор ошибок и дополнительный инструктаж. При таком подходе вы больше ловите волн и катаетесь лучше. Услуга бесплатна и действует при покупке пакета от 6 занятий и более. Для тех, кто продолжает обучение - от 3 серф трипов и более.</p>
<br>
<p>Во время обучения серфингу осуществляется профессиональная фотосъемка. Фотографии Вас и покорившихся вам волн будут записаны на CD или USB носители  по окончании курса обучения. Стоимость фотографий со всех уроков – 50$ с человека (80$ на двоих).</p>
<br>
<p style="font-size: 30px;">Хорошего серфинга, друзья!</p>
</div>
</div>
    </p>
  </div>
<div id="tsix" class="abs block">
    <a class="tabs_index_2" href="#one">ПРОГРАММЫ</a>
    <a class="tabs_index_2" href="#two">ИНДИВИДУАЛЬНЫЙ УРОК</a>
    <a class="tabs_index_2" href="#three">ДЕТСКИЕ УРОКИ</a>
    <a class="tabs_index_2" href="#tfour">СКИДКИ</a>
    <a class="tabs_index_2" href="#tfive">ФОТО И ВИДЕО</a>
    <b><a class="tabs_index_2" href="#tsix">SURF LAND TRAINING</a></b>
    <p class="abs tabs_index_1">
программы6
    </p>
  </div>

</div>
<div style="clear: both"></div>

  <div class="why">
  <div class="icons_h1_index_2">
    <div class="icons"><img src="{{ MEDIA_URL }}img/crew_icons.png" alt="" /></div>
    <div class="text_h1_index">НАША КОМАНДА</div>
  </div>
  </div>
  <div style="clear: both"></div>

<div class="crew_all">
	<div class="column_crew">
		<img src="{{ MEDIA_URL }}img/crew_1.png" alt="windysun_crew">
		<div class="name_crew">Дмитрий</div>
		<div class="prof_crew">Главный</div>
		<div class="text_crew"><p>Не отступает ни на шаг от своего девиза «движение - жизнь».</p>
<p>Любимый серф элемент – top turn.</p></div>
		<div class="lang_crew">языки: русский<br>английский</div>
	</div>
	<div class="column_crew">
		<img src="{{ MEDIA_URL }}img/crew_2.png" alt="windysun_crew">
		<div class="name_crew">Дакрон</div>
		<div class="prof_crew">Главный инструктор</div>
		<div class="text_crew"><p>Один из опытнейших серф-гидов на Бали.</p>
<p>Делится своим секретом с каждым учеником.</p></div>
		<div class="lang_crew">языки: английский</div>
	</div>
	<div class="column_crew">
		<img src="{{ MEDIA_URL }}img/crew_3.png" alt="windysun_crew">
		<div class="name_crew">Антон</div>
		<div class="prof_crew">Инструктор</div>
		<div class="text_crew"><p>Опытный инструктор.</p>
<p>Очень внимательно относится к проблемам учеников.</p></div>
		<div class="lang_crew">языки: русский</div>
	</div>
	<div class="column_crew">
		<img src="{{ MEDIA_URL }}img/crew_4.png" alt="windysun_crew">
		<div class="name_crew">Кетут</div>
		<div class="prof_crew">Инструктор</div>
		<div class="text_crew"><p>Инструктор, свободно преподающий на нескольких языках.</p>
<p>Знает множество секретных серф спотов на Бали.</p></div>
		<div class="lang_crew">языки: английский</div>
	</div>
	<div class="column_crew">
		<img src="{{ MEDIA_URL }}img/crew_5.png" alt="windysun_crew">
		<div class="name_crew">Команг</div>
		<div class="prof_crew">Инструктор</div>
		<div class="text_crew"><p>Всегда позитивный настрой помогает его ученикам относиться к своим ошибкам проще и получать от серфинга больше фана.</p></div>
		<div class="lang_crew">языки: английский</div>
	</div>
	<div class="column_crew">
		<img src="{{ MEDIA_URL }}img/crew_6.png" alt="windysun_crew">
		<div class="name_crew">Айю</div>
		<div class="prof_crew">Администратор</div>
		<div class="text_crew"><p>Ее лучезарная улыбка не сможет никого оставить равнодушным.</p>
<p>Легко решает административные вопросы.</p></div>
		<div class="lang_crew">языки: русский<br>английский</div>
	</div>
	<div class="column_crew">
		<img src="{{ MEDIA_URL }}img/crew_7.png" alt="windysun_crew">
		<div class="name_crew">Путу</div>
		<div class="prof_crew">Водитель</div>
		<div class="text_crew"><p>Опытный гид по острову.</p>
<p>Может показать даже самые потаенные уголочки Бали.</p></div>
		<div class="lang_crew">языки: русский<br>английский</div>
	</div>
</div>
<div style="clear: both"></div>

  <div class="why">
  <div class="icons_h1_index_2">
    <div class="icons"><img src="{{ MEDIA_URL }}img/maps_icons.png" alt="" /></div>
    <div class="text_h1_index">ГДЕ МЫ НАХОДИМСЯ</div>
  </div>
  </div>

<div class="text_map">
<p>
Lorem Ipsum - это текст-"рыба",
часто используемый в печати и вэб-дизайне.
Lorem Ipsum является стандартной "рыбой" для текстов
на латинице с начала XVI века.
В то время некий безымянный печатник создал.
</p>
<p style="font-size: 25px;font-weight: bold;">
До встречи!
</p>
</div>
<div id='windysun'></div>

<div style="clear: both"></div>

<div>
<hr noshade size="1" color="#d3d3d3">
</div>


<div class="footer">
	<div class="column_footer_1">
	<img style="margin: 5px 0 0 0;" src="{{ MEDIA_URL }}img/logo_footer.png" alt="" />
	</div>
	<div class="column_footer">
		<div>Бали: +62 8786 167 68 47</div>
		<div>+62 81 936 126 701</div>
	</div>
	<div class="column_footer_5"><div>Москва: +7 903 779 71 82</div>
	<div>e-mail:
<a href="windysun@surfersbali.com">
	windysun@surfersbali.com</a></div></div>
<div class="column_footer_3">
	<div>Jalan Pantai Legian / Padma</div>
	<div>Kuta - Bali - Indonesia</div>
	 </div>
	 <div class="column_footer_2">
	 	<input type="search" style="border-radius: 5px;width: 114px;height: 29px;">
	 </div>
	 <div class="column_footer_4">OK</div>
</div>
{% endblock content %}