{% extends "photologue/root.html" %}

{% block title %}{{ block.super }} | Галереи{% endblock %}

{% block content %}

{% comment %}

<h1>Latest Photo Galleries</h1>

{% if latest %}
    {% for gallery in latest %}
    <div class="photo-gallery">
        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
        {% for photo in gallery.sample|slice:sample_size %}
        <div class="gallery-photo">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.get_title }}"/></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

<p><a href="{% url pl-gallery-list 1 %}">View all galleries.</a></p>
{% endcomment %}

<ul class="photos1 none-top">
    {% for gallery in latest %}
    <li>
        <a href="{{ gallery.get_absolute_url }}">
        {% for photo in gallery.sample|slice:sample_size %}
        <img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.get_title }}"/>
        {% endfor %}
        <span class="orange">{{ gallery.title }}</span>
        {% load comments %}
        {% get_comment_count for gallery as comment_count %}
        <span class="no-img"><i>{{ gallery.photo_count }}</i> фото | <i>{{ comment_count }}</i> Комментариев</span>
        </a>
    </li>
    {% endfor %}
<ul>

{% endblock %}
